{% extends "template.base.html" %}
{% load staticfiles itemrtfilter %}

{% block title %}CAT Test{% endblock %}

{% block scripts %}
    


{{ block.super }}
    
<script type="text/javascript">
    

$(document).ready(function() {
      
	/* AJAX time retrival for tests */
     
	if ($('#test_timer').length) {
        
		/* Find test ID and get test ending time from server */
        
		var request = $.ajax({
          
			url: "/test/cat/{{ test_id }}/getendtime/",
          
			cache: false
        
		})

        
		request.done(function(msg) {
          
		var enddate = new Date (msg);

          
		$('#test_timer').countdown({until: enddate, compact: true, format: 'HMS', description: '', alwaysExpire: true, onExpiry: testExpired});
        });
      };
    });

    

	function testExpired() {
      
	alert("时间结束! 跳转到下一题...");

      
	var test_form = $("#test_form");
      
	var answer = $('input[name=ans]:checked', '#test_form').val()

      
	if(!answer) {
        
var $hiddenInput = $('<input/>',
{type:'hidden',name:"ans",value:"<MCQ Empty>"});
        
$hiddenInput.appendTo(test_form);
      
}

      
test_form.submit();
    
}
    </script>



{% endblock %}






{% block content %}
      

<div class="row">
        
<div class="col-lg-12">
          

<h1>CAT 测试
<a href="/test/cat" class="btn btn-danger pull-right">结束</a></h1>
        
</div>
      
</div>
      
<div id="contentrow" class="row">
<div class="col-lg-8">
          
{% if error.unselected %}
          <div class="alert alert-danger">
            <strong>错误!</strong> 请从选项从选择一个答案!
          </div>
          {% endif %}
<div class="row">
		<div  class="col-md-1">
	</div>
	<div class="col-md-1">
	<h5>项目:</h5>
	</div>
	<div  class="col-md-4">
	<h5>{{ question.topic }}</h5>
	</div>
	<div class="col-md-1">
	<h5>难度:</h5>
	</div>
	<div  class="col-md-4">
	<h5>{% if question.difficulty == 5 %}
              极难
              {% elif question.difficulty == 4 %}
              困难
              {% elif question.difficulty == 3 %}
              适中
              {% elif question.difficulty == 2 %}
              简单
              {% elif question.difficulty == 1 %}
              极易
              {% endif %} </h5>
	</div>
	<div class="col-md-1">
	<h5>.</h5>
	</div>			
    
	<div class="row">  
	<div id="qlabel" class="col-md-1">
	<h3>Q:</h3>
	</div>
            <div class="col-md-11"{% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
              {% autoescape off %}
              {{question.text|ast}}
              {% endautoescape %}
            </div>
          </div>
          <div class="row">
            <form id="test_form" method="post">
              {% csrf_token %}
              <div id="alabel" class="col-md-1">
                <h3>A:</h3>
              </div>
              <div id="acontent" class="col-md-9">
                <div class="btn-group" data-toggle="buttons">


  
          <div class="">
              <textarea class="form-control" id="{{ form.choiceD.id_for_label }}" name="ans" rows="1" ></textarea>
              <small>修改正确格式范例：<br><strong>修改（直接填写修改后的词）</strong>：ago ； <strong>删除</strong>： ago\ ; <strong>添加（前一个词+需要添加的词）</strong>：years+ago ;  <strong>正确</strong>：true </small>
            </div>


<!--
                  
<label id="acontent_a" class="btn btn-default">
                    <input type="radio" name="ans" value="A">
 


(1) {{question.choices.a|linebreaksbr}}
                  </label>
                  

<label id="acontent_b" class="btn btn-default">
                    <input type="radio" name="ans" value="B">
                    
(2) {{question.choices.b|linebreaksbr}}
                  </label>
                  

<label id="acontent_c" class="btn btn-default">
                    <input type="radio" name="ans" value="C">
                    
(3) {{question.choices.c|linebreaksbr}}
                  </label>
                  

<label id="acontent_d" class="btn btn-default">
                    <input type="radio" name="ans" value="D">
                    
(4) {{question.choices.d|linebreaksbr}}
                  </label>


-->
                </div>
              </div>
              <div id="asubmit" class="col-md-2">

                <button id="practicesubmitbtn" type="submit" data-loading-text="Submitting..." class="btn btn-primary btn-block">提交</button>


              </div>
              <input type="hidden" name="qid" value="{{question.id}}">
            </form>
          </div>
          <div id="practicecontentend"></div>
        </div>
		</div>
        



<div class="col-lg-4 visible-lg">
          
<div id="practicesidebar" class="panel panel-default">
            
<div class="panel-body">
<div> CAT 测试结果 </div>
{% for question in answered %}                  
                  Q{{ forloop.counter }}
				  <span class="label label-info" style="background-color:#7D9EC0;">{{ question.question.topic }}</span>
           {% if question.question.difficulty == 5 %}
              <span class="label label-danger" style="background-color:#7D9EC0;">极难</span>
              {% elif question.question.difficulty == 4 %}
              <span class="label label-warning" style="background-color:#7D9EC0;">困难</span>
              {% elif question.question.difficulty == 3 %}
              <span class="label label-warning" style="background-color:#7D9EC0;">适中</span>
              {% elif question.question.difficulty == 2 %}
              <span class="label label-success" style="background-color:#7D9EC0;">简单</span>
              {% elif question.question.difficulty == 1 %}
              <span class="label label-success" style="background-color:#7D9EC0;">极易</span>
              {% endif %}   
        {% if question.correctness == 1 %}
        <span class="glyphicon glyphicon-ok" style="color:#00CD00;"></span>
        {% else %}
        <span class="glyphicon glyphicon-remove" style="color:#d9534f;"></span>
        {% endif %}<br>
                  {% endfor %}
			<br><br>
<!-- <div>Time Remaining: <div id="test_timer"></div></div> -->
          

              
            </div>
          </div>
        </div>
      </div>      

<!--{% if debug %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Debug Data <small>(Normally hidden from user)</small>
        </div>
        <div class="panel-body">
          <p>Question: {{question.id}}</p>
          <p>Answer: {{debug.answer}}</p>
          <p>Difficulty (1-5): {{question.difficulty}}</p>
          <p>Current Ability: {{debug.ability}}</p>
          <p>Item info: {{question.question_info}}</p>
        </div>
      </div>
      {% endif %}-->
{% endblock %}