{% extends "template.base.html" %}
{% load staticfiles itemrtfilter %}

{% block title %}CAT Test{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
      $("#question-flag-button").bind("click", flagQuestion);
    });

    function flagQuestion() {
      $("#myModal").modal();
      $("#myModal .modal-body").load("/question/flag/{{ question.id }}/ #flag-question-content", function(){
        /* Bind the send button to send via ajax */
        $("#feedback_btn").bind("click", flagQuestion2);
      });
    }

    function flagQuestion2() {
      var question_form = $(this).closest("form");
      var save_button = question_form.find("#feedback_btn");

      /* Jquery ajax save */
      save_button.button('saving');
      var request = $.ajax({
        type: question_form.attr('method'),
        url: "/question/flag/{{ question.id }}/",
        data: question_form.serialize(),
        cache: false
      });
      request.done(function(data) {
        save_button.button('reset');
        $("#myModal .modal-body").html($(data).find('#flag-question-content'));
        /* Bind the send button to send via ajax */
        $("#feedback_btn").bind("click", flagQuestion2);
      });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });

      return false;
    }

    </script>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-lg-12">
          <h1>CAT 测试<a href="/test/cat/" class="btn btn-danger pull-right">结束</a></h1>
        </div>
      </div>
      <div id="contentrow" class="row">

        <div class="col-lg-8">
		<div class="row">
	<div  class="col-md-1">
	</div>
	<div class="col-md-1">
	<h5>项目:</h5>
	</div>
	<div  class="col-md-4">
	<h5>{{ question.topic }}</h5>
	</div>
	<div class="col-md-1">
	<h5>难度:</h5>
	</div>
	<div  class="col-md-4">
  <h5>{% if question.difficulty == 5 %}
              极难
              {% elif question.difficulty == 4 %}
              困难
              {% elif question.difficulty == 3 %}
              适中
              {% elif question.difficulty == 2 %}
              简单
              {% elif question.difficulty == 1 %}
              极易
              {% endif %} </h5>
	</div>
	<div class="col-md-1">
	<h5>.</h5>
	</div>					
			
    <div class="row">
            <div id="qlabel" class="col-md-1">
              <h3>Q:</h3>
            </div>
            <div class="col-md-11"{% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; "{% endif %}>
              {% autoescape off %}
              {{question.text|ast}}
              {% endautoescape %}
            </div>
          </div>
          <div class="row">
            <form method="post">
              {% csrf_token %}
              <div id="alabel" class="col-md-1">
                <h3>A:</h3>
              </div>
              <div  class="col-md-9">
             {% if question.choice == choice %}
                <label id="ans_now1"  style="color:#00CD00; padding-top:4px;">{{ question.source }}
              {% else %}
                <label id="ans_now2"  style="color:#d9534f; padding-top:4px;">{{ question.source }}
              {% endif %}
                </label>
<!-- change this line
              <div class="btn-group">
                <label id="acontent_a" class="btn {% if question.answer.content == 'A' and choice == 'A' %}btn-success{% elif choice == 'A' %}btn-danger{% else %}btn-default{% endif %} disabled">
                  {% if question.answer.content == 'A' and choice == 'A' %}<strong><span class="glyphicon glyphicon-ok"></span> 正确!</strong><br>{% elif choice == 'a' %}<strong><span class="glyphicon glyphicon-remove"></span> 错误!</strong><br>{% else %}<br>{% endif %}
                  (1) {{question.choices.a|linebreaksbr}}
                </label>
                <label id="acontent_b" class="btn {% if question.answer.content == 'B' and choice == 'B' %}btn-success{% elif choice == 'B' %}btn-danger{% else %}btn-default{% endif %} disabled">
                  {% if question.answer.content == 'B' and choice == 'B' %}<strong><span class="glyphicon glyphicon-ok"></span> 正确!</strong><br>{% elif choice == 'b' %}<strong><span class="glyphicon glyphicon-remove"></span> 错误!</strong><br>{% else %}<br>{% endif %}
                  (2) {{question.choices.b|linebreaksbr}}
                </label>
                <label id="acontent_c" class="btn {% if question.answer.content == 'C' and choice == 'C' %}btn-success{% elif choice == 'C' %}btn-danger{% else %}btn-default{% endif %} disabled">
                  {% if question.answer.content == 'C' and choice == 'C' %}<strong><span class="glyphicon glyphicon-ok"></span> 正确!</strong><br>{% elif choice == 'c' %}<strong><span class="glyphicon glyphicon-remove"></span> 错误!</strong><br>{% else %}<br>{% endif %}
                  (3) {{question.choices.c|linebreaksbr}}
                </label>
                <label id="acontent_d" class="btn {% if question.answer.content == 'D' and choice == 'D' %}btn-success{% elif choice == 'D' %}btn-danger{% else %}btn-default{% endif %} disabled">
                  {% if question.answer.content == 'D' and choice == 'D' %}<strong><span class="glyphicon glyphicon-ok"></span> 正确!</strong><br>{% elif choice == 'd' %}<strong><span class="glyphicon glyphicon-remove"></span> 错误!</strong><br>{% else %}<br>{% endif %}
                 (4) {{question.choices.d|linebreaksbr}}
                </label>
              </div>


-->
              </div>
              <div id="asubmit" class="col-md-2">
                <a href="." class="btn btn-primary btn-block">下一题</a>
              </div>
              <input type="hidden" name="qid" value="{{question.id}}">
            </form>
          </div>
          <div id="practicecontentend"></div>
        </div>
		</div>
        <div class="col-lg-4 visible-lg">
          <div id="practicesidebar" class="panel panel-default">
            <div class="panel-body">
<div> CAT 测试结果 </div>
{% for question in answered %}                  
                  Q{{ forloop.counter }}
<!-- change this line-->
          <span class="label label-info" style="background-color:#7D9EC0;">{{ question.question.topic }}</span>

           {% if question.question.difficulty == 5 %}
              <span class="label label-danger" style="background-color:#7D9EC0;">极难</span>
              {% elif question.question.difficulty == 4 %}
              <span class="label label-warning" style="background-color:#7D9EC0;">困难</span>
              {% elif question.question.difficulty == 3 %}
              <span class="label label-warning" style="background-color:#7D9EC0;">适中</span>
              {% elif question.question.difficulty == 2 %}
              <span class="label label-success" style="background-color:#7D9EC0;">简单</span>
              {% elif question.question.difficulty == 1 %}
              <span class="label label-success" style="background-color:#7D9EC0;">极易</span>
              {% endif %}   
			  {% if question.correctness == 1 %}
			  <span class="glyphicon glyphicon-ok" style="color:#00CD00;"></span>
			  {% else %}
			  <span class="glyphicon glyphicon-remove" style="color:#d9534f;"></span>
			  {% endif %}<br>
                  {% endfor %}
			</div>
            <br><br>
            <div style="position:absolute; bottom:0px; width: 100%;">
              <div id="question-flag-button" style="border-top: 1px solid #DDD; margin-right: 32px; padding: 0 15px; cursor: pointer;">
                <h5 class="pull-right"><span class="glyphicon glyphicon-flag" style="color:#d9534f;"></span> 意见</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">标记题目</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!--{% if debug %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Debug Data <small>(Normally hidden from user)</small>
        </div>
        <div class="panel-body">
          <p>Question: {{question.id}}</p>
          <p>Answer: {{debug.answer}}</p>
          <p>Difficulty (1-5): {{question.difficulty}}</p>
          <p>Current Ability: {{debug.ability}}</p>
          <p>Item info: {{question.question_info}}</p>
        </div>
      </div>
      {% endif %}-->
{% endblock %}