{% extends "itemrtweb/control-pageland.html" %}

{% block control-content %}
            


<h2>Regenerate Topic</h2>
            



<div class="panel panel-default">
<div class="alert alert-error">Important: Regenerating Topic might take awhile once invoked. Please do not break the loading as it will cause the regeneration to be done inappropriately.</div>
              

		<!--- <div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
					
				<div class="well">
				<h4>Regenerate Topic</h4>
				<hr>
					 <form name="regen" action="/eng_admin_regentopic/" method="get">
						<input type='submit' class='btn btn-danger' id='submit' name='submit' onclick='return window.confirm("Are you sure you want to regenerate topic?")' value='Regenerate Topic'/>
					</form> 
					
				</div>

				<div class="clear"></div>
			</div> ---> 
			
		</div>


{% endblock %}