{% extends "itemrtweb/control-pageland.html" %}

{% block control-content %}
            


<h2>重新生成词汇标签</h2>
            



<div class="panel panel-default">
<div class="alert alert-error">词汇标签已重新生成.</div>
				</div>
              


<!--- 
		<div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
				<div class="well">
				<h4>Regenerate Keyword Tags</h4>
				<hr>
					<form name="regen" action="/eng_admin_regenkeyword/" method="get">
						<input type='submit' class='btn btn-danger' id='submit' name='submit' onclick='return window.confirm("Are you sure you want to regenerate keyword tags?")' value='Regenerate Keyword Tags'/>
					</form>
					<div class="alert alert-error">Important: Regenerating Keyword Tags might take awhile once invoked. Please do not break the loading as it will cause the regeneration to be done inappropriately.</div>
				</div>
				
				
				</div>
				<div class="clear"></div>
			</div>
			
		</div> --->


{% endblock %}