{% extends "template.base.html" %}

{% load itemrtfilter %}

{% block title %}Generate Test{% endblock %}



{% block content %}

 

      <div class="row">
        <div class="col-lg-12">
          <h1>Generate Test </h1>
        </div>
      </div>
          {% for question in testquestions %}
            <div class="row">
              <div class="col-md-11">
              <h3>Q{{ forloop.counter }}:</h3>
                Qid: {{question.id}}<br>
                Topic: {{question.topic.id}} . {{question.topic}}<br>
                Difficulty: {{question.difficulty}}<br>
                <b> <br>{{ question.source}}</b> <br>
               Question: {{ question.content}} <br>
               Choices: <i>{{question.choice}}</i><br>
              </div>
            </div>


          {% endfor %}


 
</div>

{% endblock %}