{% extends "template.base.html" %}

{% load staticfiles itemrtfilter %}

{% block title %}View Tags{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tagit.ui-zendesk.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
      <h1>查看标签</h1>
<right><a href="/control/concept/topic/{{concept.topic.id}}" class="btn btn-danger">返回</a></right>


<div class="row">
<div class="col-md-1"></div>
          <div class="col-md-10">
		<div class="alert {% if questions %} alert-success{% else %} alert-danger{% endif %}"><strong>{{ count }}</strong>题属于语法项目<b> {{concept.topic.name}}</b>，概念标签 <b> {{ concept.name }} </b>
                {% autoescape off %}
		<h3>{{concept.name}}</h3>
               <b> 概念标签ID: {{ concept.id}}</b> (项目:{{ concept.topic.name}})<br>
		<i>{{tag.description}}</i>
                {% endautoescape %} </div>
		
		
		{% for question in questions %}
		<div class="row" style="padding-bottom: 20px;">
                <div id="question-{{ question.id }}" class="anchor"></div>
                <div id="qlabel" class="col-md-12">   
		<h3>项目: {{question.question.topic.name}}
		(<a href="/question/view/{{question.question.id}}/">题目 {{ question.question.id }}</a>)</h3>
                </div> 
                <div id="qdata" class="col-md-12" style="padding-bottom: 10px;">
                    <span class="label label-danger">{{concept.name}}</span>
                  {% if question.question.difficulty == 5 %}
                  <span class="label label-warning">难度: 极难</span>
                  {% elif question.question.difficulty == 4 %}
                  <span class="label label-warning">难度： 困难</span>
                  {% elif question.question.difficulty == 3 %}
                  <span class="label label-warning">难度： 适中</span>
                  {% elif question.question.difficulty == 2 %}
                  <span class="label label-warning">难度： 简单</span>
                  {% elif question.question.difficulty == 1 %}
                  <span class="label label-warning">难度： 极易</span>
                  {% endif %}
                  {% for tag in question.question.tags.all %}<a href="/search/tag/?tags={{ tag.name }}" class="label label-info">标签: {{ tag.name }}</a> {% endfor %}
                </div>
                <div class="col-md-12" {% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
 		{% autoescape off %}
		
               <b> {{ question.question.source}}</b> <br>
               {{ question.question.content|ast}} <br>
               {{question.question.choice|abcd}}
		
                {% endautoescape %}
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
{% endblock %}