{% extends "template.base.html" %}

{% load itemrtfilter %}

{% block title %}考卷测试{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
      /* Bind save button to save answer data */
      $(".btn-answer-save:button").bind("click", saveAnswer);
      /* Bind form field to save answer data */
      $(".form-answer-field:input").bind("blur", saveAnswer);

      /* AJAX time retrival for tests */
      if($('#test_timer').length) {
        /* Find test ID and get test ending time from server */
        test_id = $('#test_id').text();
        var request = $.ajax({
          url: "/test/paper/"+test_id+"/getendtime/",
          cache: false
        })

        request.done(function(msg) {
          var enddate = new Date(msg);

          $('#test_timer').countdown({until: enddate, compact: true, format: 'HMS', description: '', alwaysExpire: true, onExpiry: testExpired});
        });
      };
    });

    function saveAnswer() {
      var question_form = $(this).closest("form");
      var save_button = question_form.find(".btn-answer-save");

      /* Jquery ajax save */
      save_button.button('saving');
      var request = $.ajax({
        type: question_form.attr('method'),
        url: question_form.attr('action'),
        data: question_form.serialize(),
        cache: false
      });
      request.done(function(data) {
        save_button.button('saved');
        save_button.toggleClass("btn-primary btn-success");

        setTimeout(function() {
          save_button.toggleClass("btn-success btn-primary");
        }, 3000);
      });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });
    }

    function testExpired() {
      alert("Time's up! Your test will be automatically submitted now.");

      var test_form = $("#test_form");
      test_form.submit();
    }

        function isEmpty(){
      if(document.textarea["answer1"].value==""){
            alert("You need to input a question");
            return false;
        }
        return true;}
    </script>
{% endblock %}

{% block content %}
      <div class="rows">
        <div class="col-lg-12">
          <h1>考卷测试 <small class="pull-right">测试 ID: <span id="test_id">{{ test.id }}</span></small></h1>
        </div>
      </div>
      <div id="contentrow" class="row">
        <div class="col-md-3">
         <div class="bs-sidebar" data-spy="affix" data-offset-top="75">
            <form id="test_form" method="post" action ="/test/paper/submit/{{ test.id }}/">
              {% csrf_token %}
              <ul class="nav bs-sidenav">
                  <li><div>剩余时间: <div id="test_timer"></div></div></li>
                  <li id="nav_questions">
                    <a href="#">题目</a>
                    <ul class="nav">
                      {% for question in test.questions.all %}
                      <li><a href="#question-{{ forloop.counter }}">题目 {{ forloop.counter }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li>
                    <div>
                      <button id="btn-papertest-submit" type="submit" class="btn btn-danger" style="width: 100%;" data-submitting-text="Submitting">保存并提交</button>
                    </div>
                  </li>
              </ul>
            </form>
          </div>
        </div>
        <div class="col-md-9">
          {% for question in test.questions.all %}
          <div class="multiquestion-row">
            <div id="question-{{ forloop.counter }}" class="anchor"></div>
            <div class="row">

              <div id="qlabel" class="col-md-9" >

              <div class="col-md-11"{% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
                          <!--
                {% autoescape off %}
                语法项目: {{question.topic}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 难度: {{question.difficulty}}<br>

                  -->
              <p style="font-size:21.2px;"> {{ question.content|ast}}</p>
               <!--
               {{question.choice|cnum}}
               -->
             </div>
                {% endautoescape %}
              </div>

                          <div id="qlabel" class="col-md-3" style="left: -50px;">
           <form method="post" action="/test/paper/{{ test.id }}/save/">
                {% csrf_token %}
                <input type="hidden" name="qn_id" value="{{ question.id }}">
             

                          <div id="acontent" class="col-md-12">
                                    
              <textarea id="{{ question.id_for_label }}" name="answer1" class="form-control form-answer-field" rows="1" placeholder="1" ></textarea>

              <textarea id="{{ question.id_for_label }}" name="answer2" class="form-control form-answer-field" rows="1" placeholder="2" ></textarea>
                
              <textarea id="{{ question.id_for_label }}" name="answer3" class="form-control form-answer-field" rows="1" placeholder="3" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer4" class="form-control form-answer-field" rows="1" placeholder="4" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer5" class="form-control form-answer-field" rows="1" placeholder="5" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer6" class="form-control form-answer-field" rows="1" placeholder="6" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer7" class="form-control form-answer-field" rows="1" placeholder="7" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer8" class="form-control form-answer-field" rows="1" placeholder="8" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer9" class="form-control form-answer-field" rows="1" placeholder="9" ></textarea>
              <textarea id="{{ question.id_for_label }}" name="answer10" class="form-control form-answer-field" rows="1" placeholder="10" ></textarea>
              

            </div>
          <!--
                <div id="acontent" class="col-md-9">
                <select id="{{ question.id_for_label }}" name="answer" class="form-control form-answer-field" >
              <option value="{{question.choices.a}}"{% if "A" == question.value %} selected{% endif %}>(1) {{question.choices.a}}</option>
              <option value="{{question.choices.b}}"{% if "B" == question.value %} selected{% endif %}>(2) {{question.choices.b}}</option>
              <option value="{{question.choices.c}}"{% if "C" == question.value %} selected{% endif %}>(3) {{question.choices.c}}</option>
              <option value="{{question.choices.d}}"{% if "D" == question.value %} selected{% endif %}>(4) {{question.choices.d}}</option>
              </select>
                </div>
            -->
              
            
               

                                  
               
              </form>
              </div>
              <div style="padding-left:30px;">
                           <button id="papertestquestion-{{ forloop.counter }}" type="button" data-saving-text="Saving..." data-saved-text="已保存" class="btn btn-primary btn-block btn-answer-save" style="width:15%;">保存</button>
                           </div>
                           <hr>
            </div>
              
                 

              
      
      </div>
          {% endfor %}
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">模式-名称</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary">保存</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      {% if debug %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Debug Data <small>(Normally hidden from user)</small>
        </div>
        <div class="panel-body">
          <p>Question: {{question.id}}</p>
          <p>Difficulty (1-5): {{question.difficulty}}</p>
          <p>Current Ability: {{debug.ability}}</p>
          <p>Item info: {{question.question_info}}</p>
        </div>
      </div>
      {% endif %}
{% endblock %}