{% extends "template.base.html" %}

{% block title %}Exercises{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-lg-12">
          <h1>Exercises <small> on {{topic.name}}</small><a href="/practice/end/" class="btn btn-danger pull-right">End Practice Session</a></h1>
        </div>
      </div>
      <div id="contentrow" class="row">
        <div class="col-lg-9">
          {% if error.unselected %}
          <div class="alert alert-danger">
            <strong>Error!</strong> Please select an answer from the choices given!
          </div>
          {% endif %}
          <div class="row">
            <div id="qlabel" class="col-md-1">
              <h3>Q:</h3>
            </div>
            <div class="col-md-11"{% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
              {% autoescape off %}
              {{question.text}}
              {% endautoescape %}
            </div>
          </div>
          <div class="row">
            <form method="post">
              {% csrf_token %}
              <div id="alabel" class="col-md-1">
                <h3>A:</h3>
              </div>
              <div id="acontent" class="col-md-9">
                <div class="btn-group" data-toggle="buttons">
                  <label id="acontent_a" class="btn btn-default">
                    <input type="radio" name="ans" value="a">
                    A. {{question.choices.a|linebreaksbr}}
                  </label>
                  <label id="acontent_b" class="btn btn-default">
                    <input type="radio" name="ans" value="b">
                    B. {{question.choices.b|linebreaksbr}}
                  </label>
                  <label id="acontent_c" class="btn btn-default">
                    <input type="radio" name="ans" value="c">
                    C. {{question.choices.c|linebreaksbr}}
                  </label>
                  <label id="acontent_d" class="btn btn-default">
                    <input type="radio" name="ans" value="d">
                    D. {{question.choices.d|linebreaksbr}}
                  </label>
                </div>
              </div>
              <div id="asubmit" class="col-md-2">
                <button id="practicesubmitbtn" type="submit" data-loading-text="Submitting..." class="btn btn-primary btn-block">Submit</button>
              </div>
              <input type="hidden" name="qid" value="{{question.id}}">
            </form>
          </div>
          <div id="practicecontentend"></div>
        </div>
        <div class="col-lg-3 visible-lg">
          <div id="practicesidebar" class="panel panel-default">
            <div class="panel-body">
              <h5>Topic</h5>
              <span class="label label-info">{{ question.topic }}</span>
              <h5>Difficulty</h5>
              {% if question.difficulty == 5 %}
              <span class="label label-danger"> Very Difficult</span>
              {% elif question.difficulty == 4 %}
              <span class="label label-warning">Difficult</span>
              {% elif question.difficulty == 3 %}
              <span class="label label-warning">Average</span>
              {% elif question.difficulty == 2 %}
              <span class="label label-success">Easy</span>
              {% elif question.difficulty == 1 %}
              <span class="label label-success">Very Easy</span>
              {% endif %}
              <h5>Tags</h5>
              {% if question.tags.all %}
              {% for tag in question.tags.all %}
              <span class="label label-default">{{ tag }}</span>
              {% endfor %}
              {% else %}
              <span class="label label-default">No tags yet</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      {% if debug %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Debug Data <small>(Normally hidden from user)</small>
        </div>
        <div class="panel-body">
          <p>Question: {{question.id}}</p>
          <p>Answer: {{debug.answer}}</p>
          <p>Difficulty (1-5): {{question.difficulty}}</p>
          <p>Current Ability: {{debug.ability}}</p>
          <p>Item info: {{question.question_info}}</p>
        </div>
      </div>
      {% endif %}
{% endblock %}