	{% extends "template.base.html" %}
	
	{% load staticfiles itemrtfilter %}
	
	{% block title %}Search{% endblock %}
	
	{% block extrastyle %}
	    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
	    <link href="{% static 'css/tagit.ui-zendesk.css' %}" rel="stylesheet" type="text/css">
	{% endblock %}
	
	{% block content %}
	
	<h1>Adaptive Search</h1>
		
		<div class="row">
	            <form method="get" action="/search/">
	              <div class="form-group row">
	                <div class="col-md-10">
	                  <input size="112" type="text" name="tags" placeholder="  Adaptive Search" style="height:35px;">
	                </div>
	                <div class="col-md-2">
	                  <button type="submit" class="btn btn-success form-control">Adaptive Search</button>
	                </div>
	              </div>
	            </form>
	          </div>
	
	          <div class="row">
		<div class="col-md-3" style="min-height: 800px;">
	        <ul class="nav nav-pills nav-stacked">
	<li {% if not selected_topic %} class="active"{% endif%}><a href="?tags={{tags}}">All ({{count}})</a></li>
	                {% for topic in topics %} {% if topic_count|keyvalue:topic > 0 %}
	                <li{% ifequal selected_topic topic %} class="active"{% endifequal %}><a href="?tags={{tags}}&topic={{topic.id}}">{{ topic.name }} ({{topic_count|keyvalue:topic}})</a></li> {% endif %}
	                {% endfor %}
	              </ul>
	              </div>
	
	            <div class="col-xs-9">
	              {% if request.GET.msg %}
	              <div id="list-question-alert" class="alert alert-success" data-spy="affix" data-offset-top="80"><strong>{{ request.GET.msg }}</strong></div>
	              {# Filtering Questions with Tags #}
	              {% elif tags %}
	              <div class="alert{% if questions %} alert-success{% else %} alert-danger{% endif %}">
			<strong>{{ questions.paginator.count }} </strong> questions with terms: {{ tags }} 
			<!---{% if length < 3 %} -<i>{{stem}}</i>- {% endif %}--->
			{% if length >= 3 %} ({{key}}) {% endif %} <br> 
	{% if length == 1 %}{% if query == tags %}		{% else %} Did you mean:  <a href="/search/?tags={{query}}"> {{query}} </a> {% endif %}{% endif %}</div>
	              {# Nothing filtered #}
	              {% else %}
	              <div class="alert alert-info">Enter one or more search terms to begin search</div>
	              {% endif %}
		
	{% if related_tags.count != 0 %}<div class="alert alert-success" >{% for tag in related_tags %}{{ tag.name }} : {{tag.description}} <br> {% endfor %} </div> {% endif %}
	
	
	              {% for question in questions %}
	              <div class="row" style="padding-bottom: 20px;">
	                <div id="question-{{ question.id }}" class="anchor"></div>
	                <div id="qlabel" class="col-md-12">   
			<h3>Topic: {{question.topic.name}}
			(<a href="/search/question/{{question.id}}/">Question {{ question.id }}</a>)</h3> 
	                </div> 
	                <div id="qdata" class="col-md-12" style="padding-bottom: 10px;">
	                  {% if question.difficulty == 5 %}
	                  <span class="label label-danger">Difficulty: Very Difficult</span>
	                  {% elif question.difficulty == 4 %}
	                  <span class="label label-warning">Difficulty: Difficult</span>
	                  {% elif question.difficulty == 3 %}
	                  <span class="label label-warning">Difficulty: Average</span>
	                  {% elif question.difficulty == 2 %}
	                  <span class="label label-success">Difficulty: Easy</span>
	                  {% elif question.difficulty == 1 %}
	                  <span class="label label-success">Difficulty: Very Easy</span>
	                  {% endif %} 
	                  {% for tag in question.tags.all %}<a href="/search/tag/?tags={{ tag.name }}" class="label label-info">Tag: {{ tag.name }}</a> {% endfor %}
	                </div>
	                <div class="col-md-12" {% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
	 		{% autoescape off %}
	               <b> {{ question.source}}</b> <br>
	               {{ question.content|ast|highlight:tags|highlight:stem}}  <br>
			{% if length >= 3 %}( {{ question.wholeparse|highlight:key }} )<br> {% endif %}
	               {{question.choice|abcd|highlight:tags}}<br>
			{{question.std_answer}} {{question.result}}
	
	                {% endautoescape %}
	                </div>
	              </div>
	              {% endfor %}
	            </div>
	{{sorted_x}}
	              <div>
	                <ul class="pager">
	                  {% if questions.paginator.count > 0 %}
	                  <li><a href="#">Page {{ questions.number }} of {{ questions.paginator.num_pages }}</a></li>
	                  {% endif %}
	                  {% if questions.has_previous %}
	                  <li><a href="{{ request.path|add:querystring }}&page={{ questions.previous_page_number }}">&laquo;</a></li>
	                  {% endif %}
	                  {% for page in questions.paginator.page_range %}
	                  <li><a href="{{ request.path|add:querystring }}&page={{ page }}">{{ page }}</a></li>
	                  {% endfor %}
	                  {% if questions.has_next %}
	                  <li><a href="{{ request.path|add:querystring }}&page={{ questions.next_page_number }}">&raquo;</a></li>
	                  {% endif %}
	                </ul>
	              </div>
	          </div>
	        </div>
	      </div>
	{% endblock %}
