{% extends "template.base.html" %}


{% block extrahead %}

<meta http-equiv="refresh" content="5;url=/">

{% endblock %}



{% block title %}4-Oh-4{% endblock %}

{% block content %}
      

<div class="row">
        
<div class="col-lg-10 col-lg-offset-1">
          
<h1>Woops! 4-Oh-4</h1>
          
<p>Seems like you have found a broken page on our site! We've been notified and it will be patched soon.</p>
          
<p>Redirecting you back to the home page in 5 seconds.</p>
        
</div>
        
<br>
      
</div>
{% endblock %}