{% extends "template.base.html" %}

{% block title %}Registation{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Registration</h1>
          <blockquote>
            <p>You're almost done!</p>
            <div>For the final step, please go to your email and click on the activation link.</div>
            <div>You should recieve the activation link within 5 minutes, but if you don't, please <a href="mailto:grammarexpress1@gmail.com">drop us an email</a>.</div>
            <div class="text-danger"><strong>Note! </strong>Due to the large amounts of email sent recently, the activation mail might be delayed. We sincerely apologize for this.</div>
          </blockquote>
        </div>
      </div>
{% endblock %}