{% extends "template.base.html" %}

{% block extrahead %}
<meta http-equiv="refresh" content="5;url=/">
{% endblock %}

{% block title %}账号激活{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1>账号激活</h1>
          {% if not error %}
          <div class="alert alert-success">
            <p><strong>恭喜!</strong> 您的账号已经激活成功。</p>
            <p>我们将在5秒之后跳回主页.</p>
          </div>
          {% elif error == 'activated' %}
          <div class="alert alert-warning">
            <p><strong>咦?</strong> 您的账号是激活状态，不需要重新激活。</p>
            <p>我们将在5秒之后跳回主页.</p>
          </div>
          {% endif %}
        </div>
      </div>
{% endblock %}