{% extends "template.base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>注册账号</h1>
          <blockquote>
            <p>欢迎来到 {{ PROJECT_NAME }}!</p>
            <div>请填写表格完成注册。</div>
          </blockquote>
          {% if form.errors %}
          <div class="alert alert-danger">
            <strong>对不起!</strong> 表格中存在错误{{ form.errors|pluralize:"is an,are" }}{{ form.errors|pluralize }}. 请改正后重新提交.
          </div>
          {% endif %}
          <form class="form-horizontal" method="post" role="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group {% if form.first_name.errors or form.last_name.errors %}has-error{% endif %}">
              <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 control-label">用户名</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" placeholder="First Name" value="{{ form.first_name.value|default_if_none:'' }}" maxlength="{{ form.first_name.field.max_length }}">
                <input type="text" class="form-control pull-right" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" placeholder="Last/Surname" value="{{ form.last_name.value|default_if_none:'' }}" maxlength="{{ form.last_name.field.max_length }}">
              </div>
              <div class="col-sm-3">
                {{ form.first_name.errors }}
                {{ form.last_name.errors }}
              </div>
            </div>
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
              <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label">邮箱</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Your Email" value="{{ form.email.value|default_if_none:'' }}" maxlength="{{ form.email.field.max_length }}">
                <span class="help-block">可通过邮箱地址找回您的密码</span>
              </div>
              <div class="col-sm-3">
                {{ form.email.errors }}
              </div>
            </div>
            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
              <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">密码</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" placeholder="Password">
              </div>
              <div class="col-sm-3">
                {{ form.password.errors }}
              </div>
            </div>
            <div class="form-group {% if form.cfm_password.errors %}has-error{% endif %}">
              <label for="{{ form.cfm_password.id_for_label }}" class="col-sm-3 control-label">确认密码</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="{{ form.cfm_password.id_for_label }}" name="{{ form.cfm_password.html_name }}" value="{{ form.cfm_password.value|default_if_none:'' }}" placeholder="Password Again">
              </div>
              <div class="col-sm-3">
                {{ form.cfm_password.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3 ">
                <button type="submit" id="register_btn" class="btn btn-primary" data-loading-text="Registering...">立即注册</button>
                <a class="btn btn-default" href="/">取消</a>
              </div>
            </div>
            <input type="hidden" name="next" value="{{ next|escape }}" />
          </form>
        </div>
      </div>
{% endblock %}