{% extends "template.base.html" %}

{% block title %}Reset Password{% endblock %}

{% block extrahead %}
<meta http-equiv="refresh" content="5;url=/">
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Reset Password</h1>
          <blockquote>
            <p>You have successfully reset your password</p>
            <div>You will be redirected to the home page in 5 seconds.</div>
          </blockquote>
        </div>
      </div>
{% endblock %}