{% extends "template.base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Reset Password</h1>
          <blockquote>
            <p>An email has been sent to your NTU email</p>
            <div>To complete the resetting of password, please follow the instructions listed in the email.</div>
            <div>You should recieve the activation link within 5 minutes, but if you don't, please <a href="mailto:grammarexpress1@gmail.com">drop us an email</a>.</div>
          </blockquote>
        </div>
      </div>
{% endblock %}