{% extends "template.base.html" %}

{% load staticfiles itemrtfilter %}

{% block title %}List Tags{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tagit.ui-zendesk.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'js/tag-it.js' %}"></script>
    <script type="text/javascript">
    var retrievedTags = [{% for tag in all_tags %}'{{ tag.name }}'{% if not forloop.last %},{% endif %}{% endfor %}];
    var retrievedConcepts = [{% for tag in all_concepts %}'{{ tag.name }}'{% if not forloop.last %},{% endif %}{% endfor %}];
    $(document).ready(function() {
      $('#tagssearch').tagit({
        availableTags: retrievedTags,
        allowSpaces: true,
        autocomplete: {delay: 0}
      });
      $('#conceptssearch').conceptit({
        availableConcepts: retrievedConcepts,
        allowSpaces: true,
        autocomplete: {delay: 0}
      });
      $(".btn-question-delete").bind("click", function() {
        if(confirm("Are you sure to delete this tag?")) {
          /* erm. delete? */
        }
        else {
          return false;
        }
      })
    });
    </script>
{% endblock %}

{% block content %}
      <h1>List Tags</h1>
        <div class="row">
          <div class="col-md-3" style="min-height: 800px;">
            <div id="list-question-filter" data-spy="affix" data-offset-top="80">
              <p><a href="/control/tag/insert/" class="btn btn-success form-control">Insert New Tag</a></p>
              <ul class="nav nav-tabs">
                <li{% if not tags %} class="active"{% endif %}><a href="#filter-topic" data-toggle="tab">Topic</a></li>
                <li{% if tags %} class="active"{% endif %}><a href="#filter-tags" data-toggle="tab">Tags</a></li>
			</ul>
              <div class="tab-content">
                <div class="tab-pane{% if not tags %} active{% endif %}" id="filter-topic">
                  <ul class="nav nav-pills nav-stacked">
                    {% for topic in topics %}
                    <li{% ifequal selected_topic topic %} class="active"{% endifequal %}><a href="/control/tag/topic/{{ topic.id }}/">{{ topic.name }} ({{count|keyvalue:topic.id}}) </a></li>
                    {% endfor %}
                  </ul>
                  </div>
                  
                                  
                <div class="tab-pane{% if tags %} active{% endif %}" id="filter-tags">
                  <form action="/control/tag/list/">
                    <ul id="tagssearch">
                    </ul>
                    <button type="submit" class="btn btn-primary">Filter</button>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-md-9">
            {% if request.GET.msg %}
            <div id="list-question-alert" class="alert alert-success" data-spy="affix" data-offset-top="80"><strong>{{ request.GET.msg }}</strong></div>
            {# Filtering Questions with Tags #}
            {% elif tags %}
            <div class="alert{% if questions %} alert-success{% else %} alert-danger{% endif %}"><strong>{{ questions.count }}</strong> questions with tag: {% for tag in tags %}{{ tag }} {% endfor %}</div>
            {# Filtering Questions with Topic #}
            {% elif concept_questions %}
            <div class="alert alert-success">
			<strong>{{ concept_questions.count }}</strong> concept tags in <strong>{{ selected_topic.name }}</strong><br>
			<strong>{{ questions.count }}</strong> grammar tags in <strong>{{ selected_topic.name }}</strong>
			</div>
            {# Nothing filtered #}
            {% else %}
            <div class="alert alert-info">Select a topic on the left to list tags</div>
            {% endif %}
            {% for question in concept_questions %}
            <div class="row" style="padding-bottom: 20px;">
              <div id="question-{{ question.id }}" class="anchor"></div>
              <div id="qlabel" class="col-md-12">
           <h3> <a href="/control/concept/view/{{ question.id }}" class="text-danger pull-left">{{ question.name }}</a>
<span class="pull-right"> <a href="/control/concept/view/{{ question.id }}" class="btn btn-sm btn-info">View</a>
<a href="/control/concept/edit/{{ question.id }}" class="btn btn-sm btn-warning">Edit</a>
<a href="/control/concept/delete/{{ question.id }}" class="btn btn-sm btn-danger btn-question-delete">Delete</a></span></h3></div>
              <div class="col-md-12">
                {% autoescape off %}
                  <br>
               <b> Tag ID: {{ question.id}}</b> (Topic :{{ question.topic.name}})<br>
		<i>{{question.description}}</i>
                {% endautoescape %}
              </div>
            </div>
            {% endfor %}
              {% for question in questions %}
            <div class="row" style="padding-bottom: 20px;">
              <div id="question-{{ question.id }}" class="anchor"></div>
              <div id="qlabel" class="col-md-12">
           <h3> <a href="/control/tag/view/{{ question.id }}" class="pull-left">{{ question.name }}</a>
<span class="pull-right"> <a href="/control/tag/view/{{ question.id }}" class="btn btn-sm btn-info">View</a>
<a href="/control/tag/edit/{{ question.id }}" class="btn btn-sm btn-warning">Edit</a>
<a href="/control/tag/delete/{{ question.id }}" class="btn btn-sm btn-danger btn-question-delete">Delete</a></span></h3></div>
              <div class="col-md-12">
                {% autoescape off %}
               <br>
               <b> Tag ID: {{ question.id}}</b> (Topic :{{ question.topic.name}})<br>
		<i>{{question.description}}</i>
                {% endautoescape %}
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
{% endblock %}